/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    CSS Reset ends
  */
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  :root {
    /* Primary Colors*/
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors*/
    --bg-gray: hsl(204, 43%, 93%);
    --text-blue: hsl(218, 22%, 67%);
    --cyan-light: hsla(179, 62%, 43%, 0.8);
    --dark-yellow: hsl(71, 81%, 46%);

    /* font weights */
    --bold: 700;
    --normal: 400;

  }

  p {
    font-size: 1rem;
    font-weight: var(--normal);
  }

  body{
    display: grid;
    place-content: center;
    font-family: 'Karla', sans-serif;
    background-color: var(--bg-gray);
    height: auto;
    min-height: 100vh;
  }

  main {
    max-width: 25rem;
    margin: 1.5rem;
  }

  .card {
    display: grid;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow:
        0px 2.8px 2.4px rgba(0, 0, 0, 0.011),
        0px 6.7px 5.8px rgba(0, 0, 0, 0.016),
        0px 12.5px 10.9px rgba(0, 0, 0, 0.02),
        0px 22.3px 19.4px rgba(0, 0, 0, 0.024),
        0px 41.8px 36.3px rgba(0, 0, 0, 0.029),
        0px 100px 87px rgba(0, 0, 0, 0.04);
  }

  .card__section {
    padding: 1.5625rem;
  }

  .card__section--white {
    background-color: var(--white);
  }

  .card__section--dgreen {
    background-color: var(--cyan);
  }

  .card__section--lgreen {
    background-color: var(--cyan-light);
  }

  .section__title {
    font-size: 1.5rem;
    font-weight: var(--bold);
    line-height: 1.75rem;
    letter-spacing: -0.014em;
    color: var(--cyan);
    margin-bottom: 1.375rem;
  }

  .section__subtitle {
    font-size: 1.125rem;
    font-weight: var(--bold);
    line-height: 1.75rem;
    letter-spacing: -0.014em;
    color: var(--bright-yellow);
  }

  .section__subtitle--white {
    color: var(--white);
  }

  .section1__paragraph {
    line-height: 1.62rem;
    color: var(--text-blue);
    margin-top: 0.375rem;
  }

  .amount {
    margin-top: 0.875rem;
    margin-bottom: 1.625rem;
  }

  .price {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  .price__tag {
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--white);
  }

  .price__detail {
    color: var(--white);
  }

  .amount__paragraph {
    letter-spacing: -0.01em;
    color: var(--white);
  }

  .btn {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: var(--bold);
    line-height: 1.25rem;
    color: var(--white);
    background-color: var(--bright-yellow);
    width: 100%;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    border-radius: 0.125rem;
    box-shadow:
        0px 9px 42px -21px rgba(0, 0, 0, 1);
    transition: background-color 0.5s ease;
  }

  .section3__list {
    margin-top: 1.125rem;
  }

  .section3__listitem {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--white);
  }

  @media (hover: hover) {

    .btn:hover {
        cursor: pointer;
        background-color: var(--dark-yellow);
    }
    
  }

  @media screen and (min-width: 43rem){

    main {
        max-width: 39.6875rem;
    }

    .card {
        grid-template-columns: 1fr 1fr;
    }

    .card__section {
        padding: 2.5rem;
      }

    .section1 {
        grid-column: 1/3;
    }
    
  }
